<%= link_to 'Home', root_path %>
<%= link_to 'Progate/HTML&CSS初級編', htmlcss_first_path %>
<%= link_to 'Progate/HTML&CSS中級編', java_path %>


<div style="padding: 100px 0 100px 0;">
	System.out.println();というのは、「()の中身を出力（表示）せよ」という「命令」
	("Hello World")などで表示される。""がないと出力されない
	Javaでは文の終わりにセミコロン（;）を付けなければなりません
	<br><br>
	class Main {
	  public static void main(String[] args) {
	    // この文章をコメントにしてください
	    // 「こんにちは、Java」と出力してください
	    System.out.println("こんにちは、Java");
	  }
	}
</div>

<div style="padding: 100px 0 100px 0;">
	文字列の"3"と数値の3（" "で囲まない）は別物として扱われます。また下図のように、5 + 2は7になりますが、"5 + 2"はそのまま「5 + 2」という文字列として出力されます。
	<br><br>
	class Main {
	  public static void main(String[] args) {
	    // 数値の17を出力してください
	    System.out.println(17);
	    // 5に3を足した値を出力してください
	    System.out.println(5 + 3);
	    // 「5 + 3」を文字列として出力してください
	    System.out.println("5+3");
	  }
	}
</div>

<div style="padding: 100px 0 100px 0;">
	「%」（パーセント）で、割り算の余りを計算することができます。
	<br><br>
	class Main {
	  public static void main(String[] args) {
	    // 12を3で割った値を出力してください
	    System.out.println(12/3);
	    // 3に6を掛けた値を出力してください
	    System.out.println(3*6);
	    // 8を3で割った時の余りを出力してください
	    System.out.println(8%3);
	  }
	}
</div>

<div style="padding: 100px 0 100px 0;">
	文字列を「足し算」すると、下図のように文字列を連結することができます。よって、下図にもあるように、"5" + "3"は2つの文字列を連結し、"53"となります。
	<br><br>
	class Main {
	  public static void main(String[] args) {
	    // "こんにちは"と"世界"を連結して出力してください
	    System.out.println("こんにちは" + "世界");
	    // "38"と"19"を連結して出力してください
	    System.out.println("38" + "19");
	    // 38と19を足して出力してください
	    System.out.println(38 + 19);
	  }
	}
</div>

<div style="padding: 100px 0 100px 0;">
	aa
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>


